* {
  /* background-color: rgb(124, 120, 120); */

  font-family: "Poppins", sans-serif;
}

.body {
  font-weight: 300;
  font-size: medium;

  padding-top: 1%;

  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-columns: repeat(2, 1fr);  Cria 3 colunas de largura igual */
}

.formConteiner {
  display: grid;
  padding: 15px;
  border: 1px solid;
  border-radius: 2%;
}

.tableConteiner {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}

.graficoConteiner {
  display: grid;
  padding: 15px;
  border: 1px solid;
  border-radius: 2%;
}

.formGroup {
  padding: 3px;
  padding-top: 5px;
  align-items: center;
  display: grid;
}

.titulo {
  text-align: center;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: large;
  font-weight: 5000;
}

.button {
  align-items: center;
  padding: 1px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graficoFilter {
  display: grid;
}

.grafico {
  padding-top: 15px;
  justify-self: center;
}
