* {
  /* background-color: rgb(124, 120, 120); */
}

.body {
  padding-top: 1%;
  font-size: 1.5em;
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-columns: repeat(2, 1fr);  Cria 3 colunas de largura igual */
}

.formConteiner {
  display: grid;
  padding-top: 0%;
}

.tableConteiner {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}

.graficoConteiner {
  display: grid;
  grid-column: 1 / -1;
}

.formGroup {
  padding: 3px;
  padding-bottom: 5px;
  align-items: center;
  display: grid;
}

.titulo {
  text-align: center;
  padding-bottom: 15px;
}

.button {
  align-items: center;
  padding: 1px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graficoData {
  display: grid;
  padding: 5px;
}
